@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
* {
  box-sizing: border-box;
  font-family: "Inter";
}
html {
  scroll-behavior: smooth;
}
section {
  width: 93%;
  margin: 0 auto;
}
/* form overlay  */
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
