@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

/* reset css */
* {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
}
html {
  scroll-behavior: smooth;
  font-family: "Inter", "serif" !important;
}
section {
  width: 95%;
  margin: 0 auto;
}
/* form overlay  */
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* AG-Grid */
.ag-theme-quartz .ag-root-wrapper,
.ag-theme-quartz .ag-header-cell,
.ag-theme-quartz .ag-cell {
  font-family: "Inter", sans-serif !important;
}

/* Remove borders around the entire grid */
.ag-root-wrapper {
  border: none !important;
  box-shadow: none !important; /* Optional: removes shadow if present */
}

/* Remove borders between rows */
.ag-row,
.ag-cell {
  border: none !important;
}

/* Remove header borders */
.ag-header-cell,
.ag-header {
  padding: 0;
  border: none !important;
  border-bottom: none !important;
}
.ag-cell {
  padding: 0 !important;
}
.ag-row {
  border-bottom: 1px solid #ededed !important;
}

.ag-paging-panel {
  padding: 0;
  border: none;
  justify-content: space-between;
}
.ag-paging-row-summary-panel {
  display: none;
}
/* Change header background color */
.ag-header {
  font-size: 12px !important;
  padding: 0;
  background-color: #fff !important; /* Indigo color */
  color: #9f9f9f !important; /* White text for contrast */
}

/* Grid data pagination */
@media (max-width: 640px) {
  .ag-paging-panel {
    margin: 50px 0 !important;
    margin-top: 10px !important;
    height: 100;
    display: inline-block;
    align-items: center !important;
    margin-left: auto;
    margin-right: auto;
  }
  .ag-input-wrapper,
  .ag-picker-field-wrapper {
    flex: 0;
    margin: 10px 0 !important;
  }
}
/* .ag-paging-panel {
    flex-wrap: wrap;
    display: flex;
    justify-content: center !important;
    gap: 8px;
  }

  .ag-paging-panel > * {
    flex: 1 1 100%;
    text-align: center;
  }

  .ag-paging-page-summary-panel,
  .ag-paging-button {
    /* font-size: 14px; */
